---
import { siteConfig } from "@/site-config";

const year = new Date().getFullYear();
---

<footer class="border-b">
	<div
		class="container mx-auto border-x border-l border-r px-0 py-8 text-sm font-normal sm:flex-row sm:justify-between sm:text-xs"
	>
		<div class="me-0 sm:me-4">
			&copy; {siteConfig.author}
			{year}
		</div>
	</div>
</footer>
