---
import { siteConfig } from "@/site-config";
import Icon from "node_modules/astro-icon/components/Icon.astro";

const year = new Date().getFullYear();
---

<footer class="h-12 border-b sm:h-24">
	<div
		class="container mx-auto flex h-full items-end justify-between border-x border-l border-r text-sm font-normal"
	>
		<div class="me-0 sm:me-4">
			&copy; {siteConfig.author}
			{year}
		</div>
		<div class="flex w-7 justify-center">
			<button
				class="relative h-7 w-7 text-textProminent"
				type="button"
				x-data
				@click="window.scrollTo({top: 0, behavior: 'smooth'})"
			>
				<Icon
					aria-hidden="true"
					class="h-4 w-4 sm:h-7 sm:w-7"
					focusable="false"
					name="mdi:arrow-up-thin-circle-outline"
				/>
			</button>
		</div>
	</div>
</footer>
