---
import { siteConfig } from "@/site-config";
import Icon from "node_modules/astro-icon/components/Icon.astro";

const year = new Date().getFullYear();
---

<footer class="z-20 h-24 w-full px-4 pt-4 sm:px-8 sm:pt-8">
	<div class="baseline-on-grid text-xs">
		&copy; {siteConfig.author}
		{year} | made using <a
			class="link relative underline"
			href="https://astro.build/"
			target="_blank">AstroJS</a
		>, <a class="link relative underline" href="https://tailwindcss.com/" target="_blank"
			>Tailwind</a
		>, and <a class="link relative underline" href="https://alpinejs.dev/" target="_blank"
			>AlpineJS</a
		>
	</div>
</footer>
