---
import { Icon } from "astro-icon/components";
import NahiyanKhan from "@/assets/nahiyankhan_chonk.svg?raw";
import Nahiyan from "@/assets/nahiyan.svg?raw";
import Khan from "@/assets/khan.svg?raw";
import BoxLines from "../BoxLines.astro";
---

<header
	class="fixed z-10 h-12 w-full border-y bg-bgColor [transition:all_.3s_cubic-bezier(0.55,0,1,0.45)] sm:h-24 [&::after]:absolute [&::after]:bottom-[-1px] [&::after]:left-[100%] [&::after]:h-[1px] [&::after]:w-full [&::after]:bg-divider [&::after]:content-['']"
	x-ref="header"
	x-data="{ endScroll: false, headerHeight: $refs.header.getBoundingClientRect().height, headerNKHeight: $refs.headerNK.getBoundingClientRect().height, scroll: this.headerHeight }"
	x-init="$store.header.headerHeight = $refs.header.getBoundingClientRect().height"
	x-resize="headerHeight = $height, $store.header.headerHeight = $refs.header.getBoundingClientRect().height"
	@scroll.window="scroll = headerHeight - (window.scrollY*headerNKHeight/$store.header.introNKHeight); endScroll = scroll < 0"
	:style="{ transform: $store.settings.open ? `translateX(-320px)` : `translateX(0px)` }"
>
	<!-- $store.settings.open ? { transform: `translateX(-320px)` } : { transform: `translateX(0px)` } -->
	<div
		class="container mx-auto flex h-full flex-row justify-between overflow-hidden border-x [transition:all_.3s_cubic-bezier(0.55,0,1,0.45)]"
	>
		<div
			class="flex h-full"
			:class="{ 'translate-y-[100%]': !endScroll, 'translate-y-0': endScroll }"
			:style="!endScroll && { transform: `translateY(${scroll}px)` }"
			x-cloak
		>
			<div
				class="relative flex flex-col justify-between text-textProminent sm:justify-start [&_svg]:h-5 sm:[&_svg]:h-6"
				x-ref="headerNK"
				x-resize="headerNKHeight = $height"
			>
				<div class="relative w-max sm:mb-1">
					<BoxLines small />
					<Fragment set:html={Nahiyan} />
				</div>
				<div class="relative mb-[-1px] w-max sm:mb-0">
					<BoxLines small />
					<Fragment set:html={Khan} />
				</div>
			</div>
		</div>
		<div x-cloak>
			<!-- <ThemeToggle /> -->
			<div class="w-5 justify-center sm:w-7 md:flex">
				<button
					class="relative h-5 w-5 text-textProminent sm:h-7 sm:w-7"
					type="button"
					x-data
					@click="$store.settings.toggle()"
				>
					<Icon aria-hidden="true" class="h-5 w-5 sm:h-7 sm:w-7" focusable="false" name="mdi:cog" />
				</button>
			</div>
		</div>
	</div>
</header>

<style>
	[x-cloak] {
		display: none !important;
	}
</style>
