---
import ThemeToggle from "../ThemeToggle.astro";
import NahiyanKhan from "@/assets/nahiyankhan.svg?raw";
---

<header
	class="fixed z-10 h-12 w-full overflow-hidden border-y bg-bgColor transition-colors duration-300 sm:h-24"
	x-ref="header"
	x-data="{ endScroll: false, headerHeight: $refs.header.getBoundingClientRect().height, headerNKHeight: $refs.headerNK.getBoundingClientRect().height, scroll: this.headerHeight }"
	x-resize="headerHeight = $height"
	@scroll.window="scroll = headerHeight - (window.scrollY*headerNKHeight/$store.header.introNKHeight); endScroll = scroll < 0"
>
	<div class="container mx-auto flex h-full flex-row justify-between border-x">
		<div
			class="h-full"
			:class="{ 'translate-y-[100%]': !endScroll, 'translate-y-0': endScroll }"
			:style="!endScroll && { transform: `translateY(${scroll}px)` }"
			x-cloak
		>
			<div
				class="relative text-textProminent [&>svg]:h-5 sm:[&>svg]:h-6"
				x-ref="headerNK"
				x-resize="headerNKHeight = $height"
			>
				<Fragment set:html={NahiyanKhan} />
			</div>
		</div>
		<div x-cloak>
			<ThemeToggle />
		</div>
	</div>
	<style>
		[x-cloak] {
			display: none !important;
		}
	</style>
</header>
