---
import { Icon } from "astro-icon/components";
import NahiyanKhan from "@/assets/nahiyankhan.svg?raw";
---

<header
	class="fixed z-10 h-12 w-full border-b bg-bgColor duration-500 ease-[cubic-bezier(0.55,0,1,0.45)] sm:h-24 [&::after]:absolute [&::after]:bottom-[-1px] [&::after]:left-[100%] [&::after]:h-[1px] [&::after]:w-full [&::after]:bg-divider [&::after]:content-['']"
	x-show="show"
	x-transition:enter="delay-[2s] ease-in duration-300"
	x-transition:enter-start="opacity-0"
	x-transition:enter-end="opacity-100"
	x-cloak
	x-ref="header"
	x-data="{ show: false, endScroll: false, headerHeight: $refs.header.getBoundingClientRect().height, headerNKHeight: $refs.headerNK.getBoundingClientRect().height, scroll: this.headerHeight }"
	x-init="$nextTick(() => show = true), $store.header.headerHeight = $refs.header.getBoundingClientRect().height"
	x-resize="headerHeight = $height, $store.header.headerHeight = $refs.header.getBoundingClientRect().height"
	@scroll.window="scroll = headerHeight - (window.scrollY*headerNKHeight/$store.header.introNKHeight); endScroll = scroll < 0"
	:style="$store.settings.open ? { marginLeft: `-320px` } : { marginLeft: `0px` }"
>
	<div class="container mx-auto flex h-full flex-row justify-between overflow-hidden border-x">
		<div
			class="h-full"
			:class="{ 'translate-y-[100%]': !endScroll, 'translate-y-0': endScroll }"
			:style="!endScroll && { transform: `translateY(${scroll}px)` }"
			x-cloak
		>
			<div
				class="text-textProminent [&>svg]:h-5 sm:[&>svg]:h-6"
				x-ref="headerNK"
				x-resize="headerNKHeight = $height"
			>
				<Fragment set:html={NahiyanKhan} />
			</div>
		</div>
		<div x-cloak>
			<!-- <ThemeToggle /> -->
			<div class="w-5 justify-center sm:w-7 md:flex">
				<button
					class="relative h-5 w-5 text-textProminent sm:h-7 sm:w-7"
					type="button"
					x-data
					@click="$store.settings.toggle()"
				>
					<Icon aria-hidden="true" class="h-5 w-5 sm:h-7 sm:w-7" focusable="false" name="mdi:cog" />
				</button>
			</div>
		</div>
	</div>
	<style>
		[x-cloak] {
			display: none !important;
		}
	</style>
</header>
