---
import { Icon } from "astro-icon/components";
import NKLight from "@/assets/nk-light.svg?raw";
import NKDark from "@/assets/nk-dark.svg?raw";
import ThemeToggle from "../ThemeToggle.astro";

const currentPath = Astro.url.pathname;
---

<header
	x-data
	class="nk-transition top-0 z-50 h-6 w-auto border-b bg-bgColor sm:fixed sm:mx-auto sm:h-8 sm:w-full"
	:style="$store.settings.open ? { transform: `translateX(-320px)` } : { transform: `translateX(0px)` }"
>
	<div class="container nk-transition relative mx-auto flex h-full justify-between">
		<a
			href="/"
			class="ml-2 mt-3 flex h-12 w-12 items-center justify-center rounded-full border bg-bgColor p-2 sm:ml-0 sm:h-16 sm:w-16"
		>
			<div
				x-show="$store.theme.mode === 'light'"
				class="[&>svg]:h-5 [&>svg]:w-5 sm:[&>svg]:h-7 sm:[&>svg]:w-7"
			>
				<Fragment set:html={NKLight} />
			</div>
			<div
				x-show="$store.theme.mode === 'dark'"
				class="[&>svg]:h-5 [&>svg]:w-5 sm:[&>svg]:h-7 sm:[&>svg]:w-7"
			>
				<Fragment set:html={NKDark} />
			</div>
		</a>

		<div
			class="relative mr-2 mt-3 h-12 w-12 overflow-hidden rounded-full bg-bgColor transition-colors duration-300 ease-[cubic-bezier(0.55,0,1,0.45)] hover:border-black hover:bg-black hover:text-white dark:hover:border-white dark:hover:bg-white dark:hover:text-black sm:mr-0 sm:h-16 sm:w-16"
		>
			<ThemeToggle />
		</div>

		<!-- <div
			class="bg-bgColor opacity-0"
			class:list={[
				{ "animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_1s_forwards]": currentPath === "/" },
				{ "opacity-100": currentPath !== "/" },
			]}
		>
			<button
				class="relative flex h-full w-full items-center justify-center text-textProminent"
				type="button"
				x-data
				@click="$store.settings.toggle()"
			>
				<Icon
					aria-hidden="true"
					class="h-6 w-6 sm:h-7 sm:w-7"
					focusable="false"
					name="solar:settings-bold-duotone"
				/>
			</button>
		</div> -->
	</div>

	<style>
		[x-cloak] {
			display: none !important;
		}
	</style>
</header>
