---
import BoxLines from "@/components/BoxLines.astro";
import PageLayout from "@/layouts/404.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<div x-data class="nk-transition border-x">
		<div class="nk-transition flex h-full min-h-[50vh] flex-col border-y">
			<div class="relative mb-12 w-max">
				<BoxLines />
				<div class="animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_.7s_forwards] opacity-0">
					<p
						class="text-textProminent text-5xl font-extrabold uppercase leading-[2.5rem] sm:text-[5rem] sm:leading-[4rem] md:text-8xl md:leading-[5rem] lg:text-[8rem] lg:leading-[6rem] xl:text-[11rem] xl:leading-[8rem] 2xl:text-[12rem] 2xl:leading-[9rem]"
					>
						/404 | Uh oh
					</p>
				</div>
			</div>

			<p class="mb-8">Please use the navigation to find your way back</p>
		</div>
	</div>
</PageLayout>
