---
import Intro from "@/components/Intro.astro";
import Experiences from "@/components/Experiences.astro";
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
import SectionTitle from "@/components/SectionTitle.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<Intro />

	<!-- <Column gy bb>
		<div class="column-right">
			<p class="mb-7 h-[76px] content-end font-mono text-2xl">(na-he-yahn)</p>
			<SocialList />
		</div>
	</Column> -->

	<SectionTitle title="about" subtitle />

	<!-- <Column gy>
		<div class="column-left" x-ref={"about"}>
			<div
				class="mb-8 w-11/12 text-textProminent"
				@scroll.window=`$store.state.about = $refs.about.getBoundingClientRect().top;`
			>
				<Fragment set:html={About} />
			</div>
		</div>
		<div class="column-right"></div>
	</Column> -->

	<!-- <Column title="Experiences" gy /> -->

	<SectionTitle title="experience" />

	<Experiences />

	<SectionTitle title="projects" />

	<!-- <Column title="Musings" gy />

	<Column>
		<div class="column-left h-96"></div>
		<div class="column-right h-96"></div>
	</Column>

	<Column bb>
		<div class="column-left h-96"></div>
		<div class="column-right h-96"></div>
	</Column> -->

	<!-- <Column title="Say hello" gy /> -->

	<SectionTitle title="contact" />

	<SocialList />
</PageLayout>
