---
import Intro from "@/components/Intro.astro";
import Experiences from "@/components/Experiences.astro";
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
import Section from "@/components/Section.astro";
import Education from "@/components/Education.astro";
import About from "@/components/About.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<Intro />
	<About />
	<Experiences />

	<Section title="projects">
		<div class="mb-32 mt-8 w-9/12">
			<p class="mb-8">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, alias, iste ex, quas nesciunt
				reiciendis accusamus nam nemo consectetur.
			</p>
		</div>
	</Section>

	<Section title="contact">
		<div class="mb-32 mt-8 w-9/12">
			<p class="mb-8">
				Say hello. Recommend a science fiction book. Let's go rock climbing. Let's work on something
				together.
			</p>
		</div>
	</Section>

	<SocialList />
</PageLayout>
