---
import PostPreview from "@/components/blog/PostPreview.astro";
import Column from "@/components/layout/Column.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import NahiyanKhanLogo from "@/assets/nahiyan_khan.svg?raw";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<Column>
		<div class="column-left">
			<div class="mb-8 mt-16 w-full text-textProminent">
				<Fragment set:html={NahiyanKhanLogo} />
			</div>
			<p class="subtitle-large mb-8 w-11/12 text-4xl">
				Am an engineer. Am a designer. Am both? Am neither? Definitions are arbitrary. Existential
				crisis is real. But 9 to 5, I lead design systems strategy and infrastructure to implement
				craft at scale.
			</p>
		</div>

		<div class="column-right"></div>
	</Column>

	<Column>
		<div class="column-left h-80"></div>
		<div class="column-right h-80"></div>
	</Column>

	<Column>
		<div class="column-left h-80"></div>
		<div class="column-right h-80"></div>
	</Column>

	<Column>
		<div class="column-left h-80"></div>
		<div class="column-right h-80"></div>
	</Column>

	<Column>
		<div class="column-left h-80"></div>
		<div class="column-right h-80"></div>
	</Column>
</PageLayout>
