---
import { socialLinks } from "@/site-config";
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
---

<Section title="contact" subtitle="aka say hi. recommend a science fiction novel. let's jam.">
	<div class="absolute left-0 top-48 h-full w-24 overflow-hidden">
		<div
			class="h-full w-full bg-[repeating-linear-gradient(57.5deg,transparent_0,transparent_6px,#C6C4D9_6px,#C6C4D9_7px)] dark:bg-[repeating-linear-gradient(57.5deg,transparent_0,transparent_6px,#57546B_6px,#57546B_7px)]"
		>
		</div>
	</div>

	<div class="pl-24 pt-12">
		<div class="mb-2 text-base font-medium">say hi at</div>
		<ul class="mb-24">
			{
				socialLinks.map(({ friendlyName, link, name }) => (
					<li class="mb-2 flex">
						<a
							class="link relative flex items-center justify-center text-textProminent underline"
							href={link}
							target="_blank"
						>
							<div class="full justify-left flex items-center">
								<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
							</div>
							<p class="pl-2">{friendlyName}</p>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</Section>
