---
import { socialLinks } from "@/site-config";
import { Icon } from "astro-icon/components";
import Subtitle from "./Subtitle.astro";
import Word from "./Word.astro";
import Footer from "./layout/Footer.astro";
---

<div class="flex h-full flex-col justify-between">
	<div>
		<div class="relative flex flex-col items-start px-4 pb-4 pt-8 sm:px-8 sm:pb-8 sm:pt-8">
			<div id="contact-logo" class="relative" data-logo-scale>
				<Word letters={["c", "o", "n", "t", "a", "c", "t"]} wordId="contact" />
			</div>
			<!-- <div class="relative inline-flex w-[fit-content]">
				<div class="baseline-on-grid text-sm">
					a.k.a say hi. recommend a science fiction novel. let's jam.
				</div>
			</div> -->
		</div>

		<div class="px-4 sm:px-8">
			<Subtitle title="say-hi" />

			<ul>
				{
					socialLinks.map(({ friendlyName, link, name }) => (
						<li class="flex">
							<a class="link relative flex items-center underline" href={link} target="_blank">
								<div class="full justify-left mt-2">
									<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
								</div>
								<p class="pl-4 text-sm">{friendlyName}</p>
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>

	<div class="mb-1">
		<Footer />
	</div>
</div>

<script>
	import { initLetterSizing } from "@/utils/letterSizing";

	// CONTACT = 7 letters
	initLetterSizing({ elementId: "contact-logo", letterCount: 7 });
</script>
