---
import { socialLinks } from "@/site-config";
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
---

<Section title="contact">
	<div class="mb-12 mt-4 w-11/12 sm:mb-20 sm:mt-8 md:w-3/5 2xl:w-1/2">
		<p class="mb-8">Recommend a science fiction novel. Go rock climbing together. Let's jam.</p>
	</div>

	<p class="mb-4 text-lg font-medium">Say hello at</p>
	<ul class="">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="mb-2 flex">
					<a
						class="link relative flex items-center justify-center text-textProminent underline"
						href={link}
						target="_blank"
					>
						<div class="full justify-left flex items-center">
							<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						</div>
						<p class="pl-4">{friendlyName}</p>
					</a>
				</li>
			))
		}
	</ul>
</Section>
