---
import BoxLines from "./BoxLines.astro";
const { src, height } = Astro.props;
---

<div
	class="link relative inline-block cursor-pointer whitespace-nowrap underline [&::after]:w-[100%]"
	x-data="{ show: false }"
	@mouseover="show = true"
	@mouseover.away="show = false"
>
	<slot />
	<div
		class="absolute left-0 top-[-4px] h-[calc(100%+8px)] w-full"
		x-show="show"
		x-transition:enter="ease-[cubic-bezier(0.55,0,1,0.45)] duration-300"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="ease-[cubic-bezier(0.55,0,1,0.45)] duration-150"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0"
	>
	</div>
	<div
		class="absolute -top-[3px] left-[100%] z-20 w-80 translate-y-1"
		x-show="show"
		x-transition:enter="ease-in-out delay-300 duration-300 origin-top-left"
		x-transition:enter-start="opacity-0 scale-50"
		x-transition:enter-end="opacity-100 scale-100"
		x-transition:leave="ease-[cubic-bezier(0.55,0,1,0.45)] duration-150"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0"
	>
		<div data-vfx-hover>
			<img src={src} class="pr-[1px]" height={height} alt="" />
		</div>
	</div>
</div>
