---
import CashAppLogo from "@/assets/cash_app.svg?raw";
---

<div class="w-full border-b">
	<div
		class="mx-5 border-x sm:mx-24"
		x-data="{ cash: false, adp: false, pearson: false, macalester: false, isHover() { return this.cash || this.adp || this.pearson || this.macalester } }"
	>
		<div class="py-8 pr-8 pt-24 sm:w-1/2">
			<div class="flex [&>svg]:w-16">
				<Fragment set:html={CashAppLogo} />
				<div class="ml-4">
					<p class="header-standard text-2xl leading-9">Masters in Computer Science</p>
					<p class="text-xl font-medium">
						Johns Hopkins University <span class="text-textSubtle"> | 2019 - 2022</span>
					</p>
				</div>
			</div>

			<div class="py-6 pr-10">
				<p class="text-normal subtitle-large">
					Software Engineering and Enterprise Web Development.
				</p>
			</div>
		</div>

		<div class="py-8 pb-24 pr-8 sm:w-1/2">
			<div class="flex [&>svg]:w-16">
				<Fragment set:html={CashAppLogo} />
				<div class="ml-4">
					<p class="header-standard text-2xl leading-9">Bachelor of Arts</p>
					<p class="text-xl font-medium">
						Macalester College <span class="text-textSubtle"> | 2009 - 2013</span>
					</p>
				</div>
			</div>

			<div class="py-6 pr-10">
				<p class="text-normal subtitle-large">Math Major, Computer Science and Art Minors</p>
			</div>
		</div>
	</div>
</div>
