---
import CashAppLogo from "@/assets/cash_app.svg?raw";
import ADPLogo from "@/assets/adp.svg?raw";
import PearsonLogo from "@/assets/pearson.svg?raw";
import Section from "./Section.astro";
---

<Section title="experiences" subtitle>
	<div class="mb-24 mt-8 w-1/2">
		<p class="mb-8">
			A.K.A The friends I've made along the way in the places I've been and the things I've done.
		</p>
	</div>

	<div class="text-textProminent">
		<h3 class="font-mono text-2xl font-bold text-textStandard sm:text-6xl">#Current</h3>
	</div>

	<div class="redact-hover py-32">
		<div class="flex [&>svg]:w-16">
			<Fragment set:html={CashAppLogo} />
			<div class="redact relative ml-4">
				<p class="header-standard text-2xl leading-9">Engineering Lead, Design Systems</p>
				<p class="text-xl font-medium">
					Cash App <span class="text-textSubtle"> | April 2022 - Current</span>
				</p>
			</div>
		</div>

		<div class="mt-8 sm:w-1/2">
			<p class="">
				Brought design's high bar of craft to code and stood up Cash App's design system function.
				Set up cross-platform design infrastructures, brought parity between design and code
				vernacular, evangelized modular development, and supported 40+ components being built and
				tested. Kicked off migration efforts to adopt the new system across 145+ flows covering 85%
				of app traffic.
			</p>
		</div>
	</div>

	<div class="text-textProminent">
		<h3 class="font-mono text-2xl font-bold text-textStandard sm:text-6xl">#Past</h3>
	</div>

	<div class="redact-hover py-32">
		<div class="flex [&>svg]:w-16">
			<Fragment set:html={ADPLogo} />
			<div class="redact relative ml-4">
				<p class="header-standard text-2xl leading-9">Lead UX Engineer, Design Systems</p>
				<p class="text-xl font-medium">
					ADP <span class="text-textSubtle"> | March 2018 - April 2022</span>
				</p>
			</div>
		</div>

		<div class="mt-8 sm:w-1/2">
			<p class="">
				Helped overhaul the design system of ADP's next generation suite of HR tools and built and
				launched a custom responsive design system documentation site with fuzzy search, demos, and
				content graphs.
			</p>
		</div>
	</div>

	<div class="redact-hover pb-32 pt-12">
		<div class="flex [&>svg]:w-16">
			<Fragment set:html={PearsonLogo} />
			<div class="redact relative ml-4">
				<p class="header-standard text-2xl leading-9">Product Designer</p>
				<p class="text-xl font-medium">
					Pearson <span class="text-textSubtle"> | May 2013 - March 2018</span>
				</p>
			</div>
		</div>

		<div class="mt-8 sm:w-1/2">
			<p class="">
				Functioned as a code-first product designer and specialized in authoring the
				front-of-the-front-end of Pearson's certifications focused tooling.
			</p>
		</div>
	</div>

	<!-- <h3 class="mb-12 mt-24 text-3xl font-bold">Other</h3> -->

	<div class="text-textProminent">
		<h3 class="font-mono text-2xl font-bold text-textStandard sm:text-6xl">#Other</h3>
	</div>

	<div class="redact-hover py-32">
		<div class="flex [&>svg]:w-16">
			<Fragment set:html={PearsonLogo} />
			<div class="redact relative ml-4">
				<p class="header-standard text-2xl leading-9">Graphic Designer</p>
				<p class="text-xl font-medium">
					Macalester College
					<span class="text-textSubtle"> | September 2010 - May 2013</span>
				</p>
			</div>
		</div>

		<div class="mt-8 sm:w-1/2">
			<p class="">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.
			</p>
		</div>
	</div>
</Section>
