<div x-data class="w-full border-b border-borderDivider transition-all">
	<div class="mx-5 flex h-[80vh] flex-col justify-center border-x border-borderDivider sm:mx-24">
		<h2
			class="font-mono text-[9rem] leading-[8rem] tracking-tighter"
			x-ref={"nahiyankhan"}
			x-init="$store.state.nahiyankhanHeight = $refs.nahiyankhan.getBoundingClientRect().height"
			@scroll.window="$store.state.nahiyankhan = $refs.nahiyankhan.getBoundingClientRect().top"
			x-on:resize.window="$store.state.nahiyankhanHeight = $refs.nahiyankhan.getBoundingClientRect().height"
		>
			Nahiyan Khan
		</h2>
	</div>
</div>
