<div x-data class="w-full border-b transition-all">
	<div class="mx-5 flex h-[80vh] flex-col justify-center border-x sm:mx-24">
		<h2
			class="mb-8 font-mono text-[9rem] leading-[8rem] tracking-tighter"
			x-ref={"nahiyankhan"}
			x-init="$store.state.nahiyankhanHeight = $refs.nahiyankhan.getBoundingClientRect().height"
			@scroll.window="$store.state.nahiyankhan = $refs.nahiyankhan.getBoundingClientRect().top"
			x-on:resize.window="$store.state.nahiyankhanHeight = $refs.nahiyankhan.getBoundingClientRect().height"
		>
			Nahiyan Khan
		</h2>

		<p class="subtitle-large leading-[1.75]">(na-he-yahn)</p>
	</div>
</div>
