---
import SocialList from "@/components/SocialList.astro";
import NahiyanKhanLogo from "@/assets/nahiyan_khan.svg?raw";
---

<div class="antialiased">
	<div class="mb-8 w-full text-textProminent">
		<Fragment set:html={NahiyanKhanLogo} />
	</div>
	<p class="subtitle-large mb-8 w-11/12 text-4xl">
		Am an engineer. Am a designer. Am both? Am neither? Definitions are arbitrary. Existential
		crisis is real. But 9 to 5, I lead design systems strategy and infrastructure to implement craft
		at scale.
	</p>
	<!-- <SocialList /> -->
</div>
