---
import NahiyanKhan from "@/assets/nahiyankhan.svg?raw";
---

<div x-data="{ show: false }" class="w-full border-b transition-all">
	<div class="container flex h-[50vh] flex-col overflow-hidden border-x sm:mx-auto sm:h-[80vh]">
		<!-- <div class="inline-flex">
			<h2
				class="redact redact-show section-title relative mb-2 sm:mb-8"
				x-ref={"nahiyankhan"}
				x-init="$store.state.nahiyankhanHeight = $refs.nahiyankhan.getBoundingClientRect().height"
				@scroll.window="$store.state.nahiyankhan = $refs.nahiyankhan.getBoundingClientRect().top"
				x-on:resize.window="$store.state.nahiyankhanHeight = $refs.nahiyankhan.getBoundingClientRect().height"
			>
				Nahiyan Khan
			</h2>
		</div> -->

		<div class="inline-flex">
			<div class="redact relative mb-2 text-textProminent sm:mb-8 [&>svg]:h-[100px]">
				<Fragment set:html={NahiyanKhan} />
			</div>
		</div>

		<p class="subtitle-large">(na-he-yahn)</p>
	</div>
</div>
