---
import BoxLines from "./BoxLines.astro";
import Section from "./Section.astro";

import BeaconSite from "@/assets/beacon-site.png";
import TokenViz from "@/assets/token-viz.png";
---

<Section title="projects">
	<div class="mb-12 mt-4 sm:mb-24 sm:mt-8 sm:w-1/2">
		<p class="subtitle-large mb-2 sm:mb-24">A.K.A Bite size samplings.</p>

		<a class="link-parent mb-24 block" href={`/projects/beacon-site/`}>
			<div class="relative mb-2 mt-10 sm:mb-4" transition:name=`beacon-header-image`>
				<BoxLines />
				<div class="animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_1s_forwards] opacity-0">
					<img src={BeaconSite.src} class="pr-[1px]" height={BeaconSite.height} alt="" />
				</div>
			</div>

			<p
				class="link relative inline-block"
				class="relative inline-block"
				transition:name=`beacon-title`
			>
				Beacon Design System Site
			</p>
		</a>

		<a class="link-parent mb-24 block" href={`/projects/token-viz/`}>
			<div class="relative mb-2 mt-10 sm:mb-4" transition:name=`token-viz-image`>
				<BoxLines />
				<div class="animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_1s_forwards] opacity-0">
					<img src={TokenViz.src} class="pr-[1px]" height={TokenViz.height} alt="" />
				</div>
			</div>

			<p
				class="link relative inline-block"
				class="relative inline-block"
				transition:name=`token-viz-title`
			>
				Design Token Visualizer
			</p>
		</a>
	</div>
</Section>
