---
import Section from "./Section.astro";
---

<Section title="projects">
	<div class="mb-12 mt-4 sm:mb-24 sm:mt-8 sm:w-1/2">
		<p class="leading-[1.6] sm:leading-[1.75]">
			Bite size samplings of a greater whole. (And coming soon)
		</p>
	</div>
</Section>
