---
import { Icon } from "astro-icon/components";
---

<div
	x-data="{ show: false }"
	@scroll.window="show = window.scrollY > 200"
	class="container nk-transition sticky bottom-0 mx-auto mt-4 flex justify-end px-2 sm:mt-8 sm:px-0"
	:style="$store.settings.open ? { transform: `translateX(-320px)` } : { transform: `translateX(0px)` }"
>
	<div
		class="relative h-12 w-12 bg-bgColor sm:h-16 sm:w-16"
		x-show="show"
		x-transition:enter="ease-[cubic-bezier(0.55,0,1,0.45)] duration-300"
		x-transition:enter-start="opacity-0 translate-y-16"
		x-transition:enter-end="opacity-100 translate-y-0"
		x-transition:leave="ease-[cubic-bezier(0.55,0,1,0.45)] duration-150"
		x-transition:leave-start="opacity-100 translate-y-0"
		x-transition:leave-end="opacity-0 translate-y-16"
	>
		<button
			@click="window.scrollTo({top: 0, behavior: 'smooth'})"
			class="h-full w-full border-x border-t p-2"
		>
			<Icon class="h-full w-full" name="solar:alt-arrow-up-bold-duotone" />
		</button>
	</div>
</div>
