---
const { title, subtitle, ...rest } = Astro.props;
---

<div x-ref="sectionTitle" class="" {...rest}>
	<div class="relative flex flex-col" x-ref={title}>
		<div class="relative w-full px-4 py-4 pb-8 sm:px-8 sm:py-8 sm:pb-16">
			<div class="relative z-20 flex flex-col items-end">
				<div
					class="text-5xl font-bold uppercase sm:text-6xl md:text-8xl lg:text-9xl lg:leading-[96px]"
				>
					{title}
				</div>
				<div
					class="w-full pl-0 pt-8 text-right text-sm text-textDefault sm:w-3/5 sm:pt-0 md:pt-8 lg:pt-0"
				>
					{subtitle}
				</div>
			</div>
		</div>
		<slot />
	</div>
</div>
