---
const { title, subtitle, ...rest } = Astro.props;
---

<div x-ref="sectionTitle" class="border-b" {...rest}>
	<div class="relative flex min-h-[50vh] flex-col" x-ref={title}>
		<div class="relative w-full px-8 py-16 pb-20">
			<div class="relative z-20 flex flex-col items-end">
				<div
					class="text-5xl font-bold uppercase leading-[1.5rem] sm:text-6xl sm:leading-[3rem] md:text-8xl md:leading-[3.4rem] lg:text-9xl"
				>
					{title}
				</div>
				<div
					class="w-full pl-0 pt-4 text-right text-sm text-textDefault sm:w-3/5 sm:pt-0 md:pt-4 lg:pt-0"
				>
					{subtitle}
				</div>
			</div>
		</div>
		<slot />
	</div>
</div>
