---
import About from "@/assets/about_chunky.svg?raw";
import Experience from "@/assets/experience_chunky.svg?raw";
import Projects from "@/assets/projects_chunky.svg?raw";
import Contact from "@/assets/contact_chunky.svg?raw";

const { title, subtitle, class: className, ...rest } = Astro.props;
---

<div
	x-data="{ shown: false }"
	class:list={[
		"grid-cols-[24px_1fr_24px] divide-x border-b border-borderDivider sm:grid sm:grid-cols-[100px_1fr_100px] [&>div]:border-borderDivider",
		className,
	]}
	{...rest}
>
	<div></div>
	<div class="flex min-h-[50vh] flex-col justify-center" x-ref={title}>
		{subtitle && <div class="mt-32" />}

		<div
			class="inline-flex text-textProminent [&>svg]:h-[120px] [&>svg]:transition-colors [&>svg]:duration-75"
			@scroll.window=`$store.state.${title} = $refs.${title}.getBoundingClientRect().top;`
		>
			<span class="font-mono text-4xl tracking-tighter [line-height:initial] sm:text-[9rem]">
				/
			</span>
			<!-- <div class="title-clipx text-[9rem]"> -->
			<!-- clip-path-polygon-[`calc(tan()*100%)`_0,_100%_0,_100%_100%,_0_100%] -->
			<h2
				class="font-mono text-4xl tracking-tighter text-textProminent [line-height:initial] sm:text-[9rem]"
			>
				{title}
			</h2>
			<!-- </div> -->
			<!-- <Fragment
				set:html={title === "about"
					? About
					: title === "experience"
						? Experience
						: title === "projects"
							? Projects
							: Contact}
			/> -->
		</div>
		<slot />
	</div>
	<div></div>
</div>
