---
const { title, subtitle, ...rest } = Astro.props;
---

<div
	x-data="{ inview: false, inscrollup: false }"
	x-ref="sectionTitle"
	class="nk-transition"
	{...rest}
	@scroll.window=`inview = $refs.sectionTitle.getBoundingClientRect().top <= (window.innerHeight * 9/10) && $refs.sectionTitle.getBoundingClientRect().top >= 30, inscrollup = $refs.sectionTitle.getBoundingClientRect().top <= (window.innerHeight * 9/10)`
	x-init=`inview = $refs.sectionTitle.getBoundingClientRect().top <= (window.innerHeight * 9/10), inscrollup = $refs.sectionTitle.getBoundingClientRect().top <= (window.innerHeight * 9/10)`
>
	<div class="nk-transition flex min-h-[50vh] flex-col" x-ref={title}>
		<div class="relative w-full py-32">
			<div class="absolute top-0 h-96 w-96 rounded-full border"></div>
			<div
				class="absolute left-96 top-0 my-24 h-48 w-1/2 overflow-hidden"
				style="transform: skew(33.5deg)"
			>
				<div
					class="h-full w-full bg-[repeating-linear-gradient(90deg,transparent_0,transparent_6px,#C6C4D9_6px,#C6C4D9_7px)]"
				>
				</div>
			</div>

			<div
				class="absolute right-20 top-0 my-24 h-48 w-8 bg-accent"
				style="transform: skew(33.5deg)"
			>
			</div>

			<div class="flex flex-col">
				<div
					class="text-5xl font-light uppercase leading-[1.5rem] text-textProminent sm:text-5xl sm:leading-[3rem] xl:text-7xl xl:leading-[3.4rem] 2xl:text-9xl"
				>
					{title}
				</div>
				<div class="text-textSubtle">{subtitle}</div>
			</div>
		</div>
		<slot />
	</div>
</div>
