---
const { title, subtitle, ...rest } = Astro.props;
---

<div x-data class="border-b" {...rest}>
	<div class="mx-5 flex min-h-[50vh] flex-col justify-center border-x sm:mx-24" x-ref={title}>
		{subtitle && <div class="mt-32" />}

		<div
			class="inline-flex text-textProminent [&>svg]:h-[120px] [&>svg]:transition-colors [&>svg]:duration-75"
			@scroll.window=`$store.state.${title} = $refs.${title}.getBoundingClientRect().top;`
		>
			<span class="font-mono text-4xl tracking-tighter [line-height:initial] sm:text-[9rem]">
				/
			</span>
			<h2
				class="font-mono text-4xl tracking-tighter text-textProminent [line-height:initial] sm:text-[9rem]"
			>
				{title}
			</h2>
		</div>
		<slot />
	</div>
</div>
