---
const { title, ...rest } = Astro.props;
import About from "@/assets/about.svg?raw";
import Experience from "@/assets/experience.svg?raw";
import Projects from "@/assets/projects.svg?raw";
import Contact from "@/assets/contact.svg?raw";
---

<div x-data="{ show: false }" class="border-b" {...rest}>
	<div class="container mx-auto flex min-h-[50vh] flex-col border-x" x-ref={title}>
		<div>
			<div
				class="redact redact-show relative w-[fit-content] text-textProminent [&>svg]:h-8 sm:[&>svg]:h-24"
			>
				<Fragment
					set:html={title === "about"
						? About
						: title === "experiences"
							? Experience
							: title === "projects"
								? Projects
								: Contact}
				/>
			</div>
		</div>
		<slot />
	</div>
</div>
