---
const { title, ...rest } = Astro.props;
import BoxLines from "./BoxLines.astro";
import About from "@/assets/about.svg?raw";
import Experience from "@/assets/experience.svg?raw";
import Projects from "@/assets/projects.svg?raw";
import Contact from "@/assets/contact.svg?raw";
---

<div
	x-data="{ inview: false }"
	x-ref="sectionTitle"
	class="nk-transition border-x"
	{...rest}
	@scroll.window=`inview = $refs.sectionTitle.getBoundingClientRect().top <= (window.innerHeight * 3/4)`
	x-init=`inview = $refs.sectionTitle.getBoundingClientRect().top <= (window.innerHeight * 3/4)`
>
	<div class="nk-transition flex min-h-[50vh] flex-col border-t" x-ref={title}>
		<div class="relative w-max">
			<BoxLines />
			<div
				class="relative w-[fit-content] animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_.7s_forwards] text-textProminent opacity-0 [&>svg]:h-8 sm:[&>svg]:h-14 md:[&>svg]:h-16 lg:[&>svg]:h-20 xl:[&>svg]:h-28 2xl:[&>svg]:h-32"
			>
				<Fragment
					set:html={title === "about"
						? About
						: title === "experience"
							? Experience
							: title === "projects"
								? Projects
								: Contact}
				/>
			</div>
		</div>
		<slot />
	</div>
</div>
