---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ThemeToggle.astro";

const currentPath = Astro.url.pathname;
---

<settings-backdrop
	x-data
	x-cloak
	class="pointer-events-none fixed inset-0 z-10 bg-black bg-opacity-50 duration-300 ease-[cubic-bezier(0.55,0,1,0.45)]"
	:class="{ 'opacity-100': $store.settings.open, 'opacity-0': !$store.settings.open, 'pointer-events-auto': $store.settings.open }"
	@click="$store.settings.toggle()"
>
</settings-backdrop>

<action-header
	x-data
	class="container nk-transition relative mx-auto flex justify-between pt-14"
	:style="$store.settings.open ? { transform: `translateX(-320px)` } : { transform: `translateX(0px)` }"
>
	{
		currentPath !== "/" ? (
			<div class="relative bg-bgColor sm:h-16 sm:w-16">
				<button
					onclick="history.length > 1 ? history.back() : window.location.href = '/'"
					class="flex items-center justify-center border p-2 sm:h-full sm:w-full"
				>
					<Icon class="h-10 w-10" name="solar:alt-arrow-left-bold-duotone" />
				</button>
			</div>
		) : (
			<div />
		)
	}

	<div class="relative bg-bgColor sm:h-16 sm:w-16">
		<button
			@click="$store.settings.toggle()"
			class="flex items-center justify-center border p-2 sm:h-full sm:w-full"
		>
			<Icon class="h-8 w-8" name="solar:settings-bold-duotone" />
		</button>
	</div>
</action-header>

<settings
	x-data
	x-cloak
	class="fixed right-0 top-0 z-20 h-full w-[calc(20rem+1px)] border-l bg-bgColor duration-300 ease-[cubic-bezier(0.55,0,1,0.45)]"
	:class="{ 'translate-x-0': $store.settings.open, 'translate-x-[100%]': !$store.settings.open }"
>
	<div class="flex h-full flex-col">
		<div class="[&::after]:bg-bgDivider relative flex justify-between border-y">
			<h3 class="text-textProminent sm:py-4 sm:pl-4">Settings</h3>
			<button
				class="relative flex h-full w-16 items-center justify-center border-l text-textProminent"
				type="button"
				@click="$store.settings.toggle()"
			>
				<Icon
					aria-hidden="true"
					class="h-5 w-5 sm:h-7 sm:w-12"
					focusable="false"
					name="solar:close-circle-bold-duotone"
				/>
			</button>
		</div>
		<div class="flex flex-col pb-4">
			<div class="flex items-center justify-between">
				<!-- <p class="text-textProminent">Theme</p> -->
				<ThemeToggle />
			</div>
			<div class="flex items-center justify-between">
				<button
					class="disabled relative flex h-12 w-full flex-col items-center justify-center border-b px-2 text-textProminent line-through sm:h-20"
					type="button"
					@click=""
					disabled
				>
					<Icon
						aria-hidden="true"
						class="h-5 w-5 sm:h-7 sm:w-7"
						focusable="false"
						name="solar:confetti-minimalistic-bold-duotone"
					/>
					<p class="text-textProminent">Party Mode (Coming soon)</p>
				</button>
			</div>
		</div>
	</div>
	<style>
		[x-cloak] {
			display: none !important;
		}
	</style>
</settings>
