---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Email",
		link: "nahiyan.khan@gmail.com",
		name: "mdi:email",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/nahiyankhan/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/nahiyankhan",
		name: "mdi:github",
	},
];
---

<div class="flex flex-col">
	<!-- <p class="mb-7 h-[76px] content-end font-mono text-2xl font-extrabold">Say hello at</p> -->
	<ul class="">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="flex items-center justify-center sm:hover:text-link"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<div class="full flex h-8 w-8 items-center justify-start rounded-full">
							<Icon aria-hidden="true" class="h-5 w-5" focusable="false" name={name} />
						</div>
						<p class="subtitle-large">{friendlyName}</p>
					</a>
				</li>
			))
		}
	</ul>
</div>
