---
import { Icon } from "astro-icon/components";
import { socialLinks } from "@/site-config";
---

<div class="border-b">
	<div class="mx-5 flex h-[45vh] flex-col justify-center border-x sm:mx-24">
		<!-- <p class="mb-7 h-[76px] content-end font-mono text-2xl font-extrabold">Say hello at</p> -->
		<ul class="">
			{
				socialLinks.map(({ friendlyName, link, name }) => (
					<li class="mb-2 flex">
						<a class="link relative flex items-center justify-center" href={link} target="_blank">
							<div class="full justify-left flex items-center">
								<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
							</div>
							<p class="pl-4 text-2xl">{friendlyName}</p>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
