---
import { Icon } from "astro-icon/components";
import { socialLinks } from "@/site-config";
---

<div class="flex flex-col">
	<!-- <p class="mb-7 h-[76px] content-end font-mono text-2xl font-extrabold">Say hello at</p> -->
	<ul class="">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="flex items-center justify-center sm:hover:text-link"
						href={link}
						target="_blank"
					>
						<div class="full flex h-8 w-8 items-center justify-start rounded-full">
							<Icon aria-hidden="true" class="h-5 w-5" focusable="false" name={name} />
						</div>
						<p class="subtitle-large">{friendlyName}</p>
					</a>
				</li>
			))
		}
	</ul>
</div>
