---
import { Icon } from "astro-icon/components";
import { socialLinks } from "@/site-config";
---

<div
	class="grid-cols-[100px_1fr_100px] grid-cols-[24px_1fr_24px] divide-x border-b border-borderDivider sm:grid [&>div]:border-borderDivider"
>
	<div></div>

	<div class="flex h-[45vh] flex-col justify-center">
		<!-- <p class="mb-7 h-[76px] content-end font-mono text-2xl font-extrabold">Say hello at</p> -->
		<ul class="">
			{
				socialLinks.map(({ friendlyName, link, name }) => (
					<li class="mb-2 flex">
						<a
							class="flex items-center justify-center sm:hover:text-link"
							href={link}
							target="_blank"
						>
							<div class="full justify-left flex items-center">
								<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
							</div>
							<p class="pl-4 text-2xl">{friendlyName}</p>
						</a>
					</li>
				))
			}
		</ul>
	</div>

	<div></div>
</div>
