---
const { title, ...rest } = Astro.props;
---

<div x-data="{ inview: false }" {...rest}>
	<div class="relative inline-flex w-[fit-content]">
		<div
			class="baseline-on-grid text-base font-bold uppercase leading-4 sm:text-[32px] sm:leading-[32px]"
		>
			{title}
		</div>
	</div>
</div>
