---
const { title, ...rest } = Astro.props;
---

<div x-data="{ inview: false }" class="nk-transition" {...rest}>
	<div
		class="relative mb-12 inline-flex w-[fit-content] animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_.7s_forwards] sm:mb-20"
	>
		<!-- <div class="absolute left-0 top-0 h-[400px] w-24 overflow-hidden">
			<div
				class="h-full w-full bg-[repeating-linear-gradient(57.5deg,transparent_0,transparent_6px,#C6C4D9_6px,#C6C4D9_7px)]"
			>
			</div>
		</div> -->
		<div
			class="absolute top-0 h-16 w-[240px] rounded-r-full border sm:h-[88px] sm:w-[280px] md:w-[320px] lg:h-[110px] lg:w-[400px]"
		>
		</div>
		<div
			class="pl-16 pt-5 text-3xl font-light uppercase leading-[1.5rem] text-textProminent sm:pl-24 sm:text-4xl sm:leading-[3rem] md:text-5xl xl:text-7xl"
		>
			{title}
		</div>
	</div>
</div>
