---
const { title, ...rest } = Astro.props;
---

<div x-data="{ inview: false }" class="nk-transition" {...rest}>
	<div
		class="relative mb-12 inline-flex w-[fit-content] animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_.7s_forwards] sm:mb-20"
	>
		<div class="absolute top-0 h-40 w-40 border"></div>
		<div
			class="py-12 text-3xl font-light uppercase leading-[1.5rem] text-textProminent sm:text-5xl sm:leading-[3rem] xl:text-7xl"
		>
			{title}
		</div>
	</div>
</div>
