---
const { title, ...rest } = Astro.props;
import BoxLines from "./BoxLines.astro";
import Education from "@/assets/education.svg?raw";
import Specialty from "@/assets/specialty.svg?raw";
import Mantra from "@/assets/mantra.svg?raw";
import Current from "@/assets/current.svg?raw";
import Past from "@/assets/past.svg?raw";
import Community from "@/assets/community.svg?raw";
---

<div
	x-data="{ inview: false }"
	x-ref="subtitle"
	class="nk-transition border-t"
	{...rest}
	@scroll.window=`inview = $refs.subtitle.getBoundingClientRect().top <= (window.innerHeight * 3/4)`
	x-init=`inview = $refs.subtitle.getBoundingClientRect().top <= (window.innerHeight * 3/4)`
>
	<div class="relative mb-12 inline-flex w-[fit-content] sm:mb-20 [&>svg]:h-5 sm:[&>svg]:h-12">
		<BoxLines />
		<div class="animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_.7s_forwards] opacity-0">
			<div
				class="relative w-[fit-content] animate-[fadein_.5s_cubic-bezier(0.55,0,1,0.45)_.7s_forwards] text-textProminent opacity-0 [&>svg]:h-6 sm:[&>svg]:h-8 md:[&>svg]:h-10 lg:[&>svg]:h-12 xl:[&>svg]:h-16 2xl:[&>svg]:h-20"
			>
				<Fragment
					set:html={title === "education"
						? Education
						: title === "specialty"
							? Specialty
							: title === "mantra"
								? Mantra
								: title === "current"
									? Current
									: title === "past"
										? Past
										: Community}
				/>
			</div>
		</div>
	</div>
</div>
