---
import { Icon } from "astro-icon/components";
---

<button
	class="flex h-full w-full items-center justify-center rounded-full border p-2"
	type="button"
	x-data
	@click="$store.theme.toggleMode()"
>
	<Icon
		aria-hidden="true"
		class="h-5 w-5 transition-all duration-300 dark:hidden sm:h-7 sm:w-7"
		focusable="false"
		name="solar:moon-bold-duotone"
	/>
	<Icon
		aria-hidden="true"
		class="hidden h-5 w-5 transition-all duration-300 dark:block sm:h-7 sm:w-7"
		focusable="false"
		name="solar:sun-bold-duotone"
	/>
</button>
