---
import BoxLines from "@/components/BoxLines.astro";
import PageLayout from "@/layouts/Base.astro";

import BeaconSiteImage from "@/assets/beacon-site.png";
import { Icon } from "astro-icon/components";
---

<PageLayout meta={{ title: "Beacon Guidelines Site" }}>
	<!-- <div class="relative -translate-y-8 sm:h-16 sm:w-16">
		<button
			onclick="history.length > 1 ? history.back() : window.location.href = '/'"
			class="border p-2 sm:h-full sm:w-full"
		>
			<Icon class="h-full w-full" name="solar:alt-arrow-left-bold-duotone" />
		</button>
	</div> -->

	<div x-data class="nk-transition border-x">
		<div class="flex min-h-screen flex-col">
			<div class="relative flex flex-row items-center">
				<div
					class="flex w-full border-y text-3xl font-extrabold uppercase leading-[1.5rem] text-textProminent sm:text-5xl sm:leading-[3rem] xl:text-7xl xl:leading-[3.4rem] 2xl:text-8xl 2xl:leading-[4.6rem]"
					transition:name=`beacon-title`
				>
					/Beacon-Guidelines-Site
				</div>
				<!-- <BoxLines /> -->
			</div>

			<!-- <div class="relative mt-8 flex flex-row">
				<div
					class="flex text-3xl font-extrabold uppercase leading-[1.5rem] text-textProminent sm:text-5xl sm:leading-[3rem] xl:text-7xl xl:leading-[3.4rem] 2xl:text-8xl 2xl:leading-[4.6rem]"
					transition:name=`beacon-title`
				>
					/Beacon-Guidelines-Site
				</div>
			</div> -->

			<div class="relative mb-2 mt-20 sm:mb-4 sm:w-1/2" transition:name=`beacon-header-image`>
				<BoxLines />
				<img src={BeaconSiteImage.src} class="pr-[1px]" height={BeaconSiteImage.height} alt="" />
			</div>
		</div>
	</div>
</PageLayout>
